<!DOCTYPE html>
<html>
<head>
    <title>List Products</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">
</head>
<body>
    <h2>List of Products</h2>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - ${{ product.price }}
                <a href="{% url 'edit_product' product.id %}">Edit</a>
                <a href="{% url 'delete_product' product.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
