<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}?next={{ request.GET.next }}">Register here</a></p>
    </div>
</body>
</html>
