<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}?next={{ request.GET.next }}">Login here</a></p>
    </div>
</body>
</html>
