<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">

</head>
<body>
    <h2>List of Products</h2>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - ${{ product.price }}
                <form method="post" action="{% url 'send_request' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">Request Purchase</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
